doctype html
html(lang='en')
    head
        link(rel='icon', type='image/x-icon', href='/images/android-chrome-512x512.png')
        link(rel='stylesheet' href='/css/style.css')
        title Crawler Database

    body
        include header.pug
        #Content
            if search
                include search.pug
            if results
                include results.pug
            if page
                include page.pug
